.DS_Store
node_modules/
dist/
npm-debug.log
node_modules
tests/tokenize.json
/package-lock.json
/yarn.lock
.#tokenize.json
backend/.idea
backend/images
backend/static
settings_local.py
secret.py
postcard-love.sqlite
backend/secrets
venv
__pycache__
