# Python 3.11.2
beautifulsoup4==4.12.3
certifi==2017.11.5
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.6
colorthief==0.2.1
cookies==2.2.1
emoji==0.4.5
Flask==1.0.4
flask-request-id-middleware==1.1
gunicorn==23.0.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==2.0.1
olefile==0.44
packaging==24.1
pillow==10.4.0
pony==0.7.19
postcard-creator==2.4
python-resize-image==1.1.20
requests==2.32.3
requests-toolbelt==1.0.0
sightengine==1.4.0
soupsieve==2.6
urllib3==2.2.3
Werkzeug==2.1.2
