<!-- made with much <3 by bean, www.abertschi.ch -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:700,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css" >
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png" />

    <title>Postcard &lt;3</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="./scripts/snowstorm-min.js"></script>
    
    <meta name="theme-color" content="#FF3C00">
    <meta name="msapplication-navbutton-color" content="#FF3C00">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF3C00">
    <meta name=" viewport-fit" content="contain">

    <script>
     (function(){
       var d = new Date();
       var m = d.getMonth()
       m = m + 1;
       if (m >= 12 || m <= 1) { 
         snowStorm.excludeMobile = false;
         snowStorm.autoStart = true;
         /* snowStorm.flakeBottom = null;*/
         snowStorm.followMouse = false;
         snowStorm.flakesMaxActive = 10;
       }
       else {
         snowStorm.stop();
         snowStorm.autoStart = false;
       }
     })();
    </script>

    <!-- TODO: -->
    <!-- https://codyhouse.co/gem/vertical-fixed-navigation-2/ -->  
  </head>
  <body>
    <div id="postcard-love">
      <section class="header upload">
        <div class="header__left" >
          <div class="slogan">
            <div class="slogan__txt1 text--h2">&lt; SHARE SOME <span class="c text--h1"> LOVE</span> </div>
            <div class="slogan__txt2 text--h2">WITH A <span class="c text--h1"> POSTCARD</span> /&gt;</div>
            <div class="slogan__txt4 text--h3">say 👋<br/> and send me a postcard for free</div>

            <div v-on:click="scrollToImageUpload" class="slogan__txt3 demo text--h3" id="slogan__scrolldown">
              <a href="#0-upload"><span></span>get started</a>
            </div>
          </div>
        </div>
        <div class="header__right">
          <div class="logo">
            <div class="logo__slogan">
            </div>
          </div>
        </div>
      </section>

      <form id="form">
        <section class="upload section">
          <div class="container">
            <div class="row" >
              <div class="col s12">
                <span id="0-upload" class="upload__title step__title">
                  <a href="#0-upload" id="upload__title" class="no-hyperlink" tabindex=1>#1 UPLOAD IMAGE</a></span>
              </div>
              <div class="col s12" >
                <div class="upload__dragdrop" id="droptarget"
                     v-on:dragover="imageDragOverHandler"
                     v-on:drop="imageDropHandler">
                  <div class="container">
                    <div class="row">
                      <div class="col s12 l12 m12" style="padding: 0; margin: 0;"
                           v-if="love.pictures.length <= 0">

                        <img src="img/upload.svg" class="upload__dragdrop__img"
                             v-if="! processImage.active" />
                        
                      </div>
                      <div class="col s12"
                           v-bind:class="{ l12: love.pictures.lenght <= 1,
                                  l6: love.pictures.lenght > 1}"
                           v-if="love.pictures.length > 0"
                           v-for="(picture, index) in love.pictures">

                        <img v-bind:src="picture.src"n
                             v-bind:id="'img_'.concat(index)"
                             class="upload__dragdrop__img" />

                        
                        <div class="upload__dragdrop__delete"
                             v-bind:id="'del_'.concat(index)"
                             v-on:click.stop="removeImage(index)">
                          DELETE
                        </div>

                      </div>
                    </div>
                    <!-- show spinner animation when loading -->
                    <div class="upload__dragdrop__spinner"
                         v-if="processImage.active">
                      <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-red-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="upload__dragdrop__txt">
                  <!-- Drag and image here or press to choose from filesystem -->
                  <!-- Drag image here -->
                </span>
                <input class="upload__input"
                       type="file" name="pictures" id="pictures"
                       multiple="multiple" accept="image/*"
                       v-on:change="fileSelect"
                />
              </div>
            </div>
          </div>          
        </section>
        <section class="choose_text section">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <span id="0-write" class="choose_text__title step__title">#2 WRITE MESSAGE</span>
              </div>
              <div class="col offset-s1 s10 m8 offset-m2 choose_text__msg ">
                <br/>
                <textarea id="textarea1" class="materialize-textarea choose_text__textarea text--normal "
                          placeholder="Enter your message ..."
                          maxlength="400" 
                          v-model="love.message"
                          autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                          tabindex=5
                          data-length="400"></textarea>
              </div>          
            </div>        
          </div>
        </section>
        <!-- https://www.flaticon.com/free-icon/monkey_599879 -->
        <section class="sender section">
          <div class="container ">
            <div class="row">
              <div class="col s12">
                <span id="0-verify" class="sender__info__title step__title">#3 ABOUT YOU</span>
              </div>
            </div>
            <div class="row submit__name submit__name--first" >
              <div class="col s12 m3 l3 offset-l1 offset-m1 " >
                <span class="sender__info"> NAME</span>
              </div>
              <div class="col m6 l6 s8 offset-s2 input-field sender__info_txt submit__name--pading text--normal" >
                <input maxlength="50"  style="; "
                       id="input_text"
                       type="text"
                       data-length="50"
                       class=""
                       tabindex=10
                       v-model="love.name"
                       maxlength="50" size="50"
                       autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                       placeholder="Enter your name ...">
                <label for="input_text"></label>
              </div>
            </div>
            <div class="row submit__name" style="">
              <div class="col s12 m3 l3 offset-l1 offset-m1 "
                   style=" text-align: center !important; margin-top: 25px !important">
                <span class="sender__info"
                      style="text-align: center !important; ;">VERIFY</span>
              </div>
              <div class="input-field col s12 m6 l6 sender__info_txt sender__info_captcha center-align submit__name--pading text--normal"
                   style="">
                <a href="" class="no-hyperlink" tabindex=15>
                  <div class="g-recaptcha"
                       data-sitekey="6LdoUj0UAAAAACtNTD7bkXAdgh7Uij4Wg0DttSL4" 
                       data-callback="recaptcha_callback" style=""></div>
                </a>
              </div>
            </div>
            <div class="row submit__name submit__name--first" style="opacity: 0.2" >
              <div class="col s12 m3 l3 offset-l1 offset-m1" >
                <span class="sender__info"> SECRET</span>
              </div>
              <div class="input-field col m6 l6 s8 offset-s2 sender__info_txt submit__name--pading text--normal" >
                <input maxlength="1024"  style="; "
                       id="input_text"
                       type="text"
                       tabindex=20
                       v-model="love.secret"
                       autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                       data-length="1024"
                       class=""
                       size="1024"
                       maxlength="1024"
                       placeholder=":P ...">
                <label for="input_text"></label>
              </div>
            </div>
          </div>
        </section>
        <section class="submission" >
          <div class="submission__send">
            <span id="0-send" class="submission__send__button"
                  v-on:click="send">
              <a href="#0-send" class="no-hyperlink" tabindex=25>SEND POSTCARD</a>
            </span>

            <div class="submission__progress"
                 v-if="submission.active">
              
              <div class="preloader-wrapper active">
                <div class="spinner-layer" style="border-color: black !important;">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="submission__quote text--h3"
                 v-if="!submission.active">
              
              <div class="submission__validation"
                   v-if="validation.submit">
                <i v-if="validation.submit && !validation.image">
                  ✖ <a href="#0-upload" tabindex="27">Please upload an image</a><br/></i>
                <i v-if="validation.submit && !validation.human">
                  ✖ <a href="#0-verify" tabindex="28">Please verify that you are human </a><br/></i>
              </div>

              <div class="submission__error__container" v-if="submission.showError">
                <div class="submission__error text--h3" >
                  Whoopsie. {{submission.error}}
                </div>
              </div>
              <div class="submission__success__container" v-if="submission.sent">
                <div class="submission__success" >
                  <!-- <div class="submission__success__smiley">:D</div> -->
                  <div class="submission__success__msg text--h3">
                    postcard sent! &nbsp; <span style="font-size: 40px"> 🎉</span> <br/>
                    {{submission.successMessage}}
                  </div>
                </div>
              </div>
              
              <div class="submission__quote__text" v-if="!submission.active && !submission.showError && !submission.sent">
                <i>"A smile is happiness you'll find right under your nose." <br/>
                  -- Tom Wilson</i>
                <br/>
                <br/>
                <br/>
              </div>
              <div class="submission__quote__bean" v-if="!submission.active">
                Smile more <br/><i>Made with ❤ by <a href="https://abertschi.ch" tabindex="30">abertschi</a></i>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>    
    <script>
     var vue;
     function recaptcha_callback(){
       vue.validation.human = true;
     }
     (function(){
       vue = new Vue({
         el: '#postcard-love',
         data: {
           love: {
             pictures: [],
             name: '',
             secret: '',
             message: ''
           },
           imageWorker: null,
           processImage: {
             active: false
           },
           // false is not valid
           validation: {
             submit: false,
             human: false,
             image: false
           },
           submission: {
             active: false,
             error: '',
             successMessage: '',
             showError: false,
             sent: false
           }
         },
         watch: {
           love: {
             handler() {
               localStorage.setItem('love', JSON.stringify(this.love));
               this.validation.image = this.love.pictures.length > 0;
             },
             deep: true,
           },
         },
         
         mounted() {
           if (localStorage.getItem('love')) { 
             this.love = JSON.parse(localStorage.getItem('love')) || [];
           }
           this.validation.image = this.love.pictures.length > 0;
         },
         
         methods: {           
           scrollToImageUpload: function() {
             $('html,body').animate({
               scrollTop: $("#0-upload").offset().top}, 'slow');
           },

           resetUserInput: function() {
             this.love.pictures = [];
             this.love.message = '';
             this.validation.human = false;
             this.validation.image = false;
             grecaptcha.reset();
             $('#recaptcha_reload').click();
           },

           imageDragOverHandler: function(event) {
             event.stopPropagation();
             event.preventDefault();
             event.dataTransfer.dropEffect = 'copy';
           },
           
           imageDropHandler: function(ev) {
             ev.preventDefault();
             let files = [];
             var dt = ev.dataTransfer;
             if (dt.items) {
               for (var i=0; i < dt.items.length; i++) {
                 if (dt.items[i].kind == "file") {
                   let f = dt.items[i].getAsFile();
                   files.push(f);
                 }
               }
             } else {
               for (var i=0; i < dt.files.length; i++) {
                 files.push(dt.files[i]);
               }  
             }
             this.handleFiles(files);
           },
           
           fileSelect: function(event) {
             event.stopPropagation();
             event.preventDefault();
             let files = event.target.files;
             let images = [];
             if (files) {
               files = Array.from(files)
               files.forEach(f => {
                 if (f) {
                   images.push(f);
                 }
               });
               this.handleFiles(files);
             }
           },

           removeImage: function(index) {
             console.log('removing index: ' + index);
             this.love.pictures.splice(index, 1);
           },
           
           handleFiles: function(files) {
             let first = true;
             let that = this;
             files.forEach(f => {
               if (f.type.startsWith('image/')) {

                 if (first) {
                   // show loading animation
                   first = false;
                   that.processImage.active = true;
                 }

                 this.resizeImage(f, (encoded) => {
                   console.log(that.processImage.active);
                   that.love.pictures.push({
                     name: f.name,
                     src: encoded
                   });
                   that.processImage.active = false;

                 })
               }
             });
           },
           
           send: function() {
             this.validation.submit = true;
             this.submission.sent = false;
             this.submission.showError = false;
             if (this.validation.human && this.validation.image) {
               this.submission.active = true;
               this.validation.submit = false;
               
               let form = document.getElementById("form");
               var data = new FormData(form);
               
               let payload = {
                 message: this.love.message,
                 name: this.love.name,
                 secret: this.love.secret,
                 pictures: this.love.pictures,
                 'g-recaptcha-response': grecaptcha.getResponse()
               };

               let that = this;
               let url = '/api/submit';
               $.ajax({
                 url: url,
                 data: JSON.stringify(payload),
                 dataType: "json",
                 cache: false,
                 contentType: "application/json; charset=utf-8",
                 type: 'POST',
                 success: function(data){
                   that.submission.active = false;
                   that.submission.sent = true;
                   that.resetUserInput();
                   console.log(data);
                   if (data.message) {
                     that.submission.successMessage = data.message;
                   }
                   console.log(data);  
                 },
                 error: function(err) {
                   console.log(err);
                   that.submission.active = false;
                   that.submission.showError = true;
                   msg = err.responseText;
                   if (err.responseJSON) {
                     let error = err.responseJSON;
                     if (error.error) {
                       msg = error.error;
                     }
                   }
                   msg += ' (' + err.status + ')';
                   that.submission.error = msg;
                 },
               });
             }
           },
           
           resizeImage: function (file, callback) {
             const MAX_WIDTH = 1500;
             const MAX_HEIGHT = 1000;
             
             var reader = new FileReader();
             reader.onloadend = function() {
               var tempImg = new Image();
               tempImg.src = reader.result;
               tempImg.onload = function() {                 
                 var tempW = tempImg.width;
                 var tempH = tempImg.height;
                 
                 if (tempW > tempH) {
                   if (tempW > MAX_WIDTH) {
                     tempH *= MAX_WIDTH / tempW;
                     tempW = MAX_WIDTH;
                   }
                 } else {
                   if (tempH > MAX_HEIGHT) {
                     tempW *= MAX_HEIGHT / tempH;
                     tempH = MAX_HEIGHT;
                   }
                 }
                 
                 var canvas = document.createElement('canvas');
                 canvas.width = tempW;
                 canvas.height = tempH;

                 var ctx = canvas.getContext("2d");
                 ctx.drawImage(this, 0, 0, tempW, tempH);
                 
                 function drawRotated(ctx, degrees){
                   ctx.clearRect(0,0,canvas.width,canvas.height);
                   ctx.save();
                   ctx.translate(canvas.width/2,canvas.height/2);
                   ctx.rotate(degrees*Math.PI/180);
                   ctx.drawImage(image,-image.width/2,-image.width/2);
                   ctx.restore();
                 }

                 var dataURL = canvas.toDataURL("image/png");
                 callback(dataURL);
               }    
             }
             reader.readAsDataURL(file);
           }
         }
       });
       
       $('#droptarget, #upload__title').click(function() {
         $('#pictures').click();
       });
       
       $(function() {
         $('textarea[maxlength]').each(function() {
           var $textarea = $(this);
           var maxlength = $textarea.attr('maxlength');
           var val = $textarea.val();
           $textarea.val(val.slice(0, maxlength));
           $textarea.bind('keyup', function() {
             $textarea.val($textarea.val().slice(0, maxlength));
           });
         });
       });
     }());     
    </script>
  </body>
</html>
